<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>clientesControlador</servlet-name>
        <servlet-class>Controlador.clientesControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoControlador</servlet-name>
        <servlet-class>Controlador.productoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detallepagControlador</servlet-name>
        <servlet-class>Controlador.detallepagControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedidosControlador</servlet-name>
        <servlet-class>Controlador.pedidosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatonlineControlador</servlet-name>
        <servlet-class>Controlador.chatonlineControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatControlador</servlet-name>
        <servlet-class>Controlador.chatControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientesControlador</servlet-name>
        <url-pattern>/clientesControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoControlador</servlet-name>
        <url-pattern>/productoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detallepagControlador</servlet-name>
        <url-pattern>/detallepagControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedidosControlador</servlet-name>
        <url-pattern>/pedidosControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatonlineControlador</servlet-name>
        <url-pattern>/chatonlineControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatControlador</servlet-name>
        <url-pattern>/chatControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
